.container {
  width: 95vh * 0.5;
  height: 95vh;
  background-color: white;
  border-radius: 20px;
  border: 5px solid black;
}

.statusbar {
  height: 3vh;
  width: 100%;
  display: flex;
  justify-content: center;

  .notch {
    width: 40%;
    height: 90%;
    background-color: pink;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
  }
}
