* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  width: 50%;
  height: 95%;
  background-color: yellow;
}
